@import "../../../../stylesheets/abstracts/_variables";
@import "../../../../stylesheets/abstracts/_media";

#action-menu {
  position: absolute;
  @media #{$handheld} {
    width: 100%;
    text-align: center;
    top: 48px;
  }

  @media #{$computer-big} {
    right: 228px;
    top: 138px;
  }

  @media #{$computer-small} {
    right: 78px;
    top: 138px;
  }
  
  button {
    margin-left: 28px;
  }
}
