@import "../../../../stylesheets/abstracts/_variables";
@import "../../../../stylesheets/abstracts/_media";

#action-menu {
  &.expand {
    position: absolute;
  }
  &.shrink {
    position: fixed;
    top: 8px;
  }
  @media #{$handheld} {
    &.expand {
      width: 100%;
      text-align: center;
      top: 148px;
    }
    &.shrink {
      display: none;
    }
  }

  @media #{$computer-big} {
    &.expand {
      right: 228px;
      top: 138px;
    }
    &.shrink {
      left: 50%;
      transform: translate(-50%, 0);
    }
  }

  @media #{$computer-small} {
    &.expand {
      right: 78px;
      top: 138px;
    }

    &.shrink {
      left: 50%;
      transform: translate(-50%, 0);
    }
  }

  button {
    margin-left: 28px;
  }
}
