// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
#footer {
  margin: 0px 200px 0 200px;
  padding: 20px;
  display: flex;
  text-align: center;
  background-color: $primary-dark-color;
  @include border-radius(5px, 5px, 0, 0);
}