// -----------------------------------------------------------------------------
// This file contains all styles related to the main structure of the site/application.
// -----------------------------------------------------------------------------

body {
  background-color: $primary-color;
}

#main {
  color: $text-color-primary;
  padding: 20px;
  text-align: justify;
  h1 {
    color: lighten($text-color-secondary, 10);
  }

  h2 {
    color: lighten($text-color-secondary, 5);
  }
  
  h3 {
    color: $text-color-secondary;
  }
}


@media #{$computer-big} {
  #main {
    min-width: 800px;
    margin: -40px 200px 20px 200px;
    display: flex;
    flex-direction: column;
  }
}

@media #{$computer-small} {
  #main {
    min-width: 700px;
    margin: -40px 50px 20px 50px;
    display: flex;
    flex-direction: column;
  }
}

@media #{$handheld} {
  #main {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    @include border-radius-important(0);
  }
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}