@import "../../../stylesheets/abstracts/variables";

#footer-container {
  display: flex;
  height: 48px;
  background-color: $primary-dark-color;
}

#footer {
  margin: auto;
  vertical-align: middle;
}