.badge {
  display: flex;
  margin: 5px;
  color: $white;

  .badge-label {
    background-color: #555;
    padding: 2px 5px;
  }

  .badge-value {
    padding: 2px 5px;
    font-weight: bold;
  }
}

.badge.badge-yellow {
  .badge-value {

  }
}

.badge.badge-yellow {
  .badge-value {
    background-color: #f0ad4e;
  }
}

.badge.badge-blue {
  .badge-value {
    background-color: #0275d8;
  }
}

.badge.badge-default {
  .badge-value {
    background-color: #3D506E;
  }
}

.badge.badge-red {
  .badge-value {
    background-color: #d9534f;
  }
}

.badge.badge-green {
  .badge-value {
    background-color: #5cb85c;
  }
}

.badge.badge-cyan {
  .badge-value {
    background-color: #5bc0de;
  }
}