// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

/// Form
/// Defines the style of a form container
/// Flex, column, no-wrap
.form-container {
  display: flex;
  flex-direction: column;
  padding: 20px 40px 20px 40px;
  border: 1px solid #898989;
  @include border-shadow();
}

/// Defines the style of an input container
/// input + validation message.
.input-container {
  display: flex;
  margin: 10px 0 10px 0;
  flex-direction: row;
  flex-wrap: wrap;
}

.input-error {
  min-width: 250px;
  color: mix(red, $text-color, 40);
  max-width: 250px;
}

input {
  position: relative;
  overflow: visible;
  display: block;
  padding: 0.2em 0.1em 0.1em 0.5em;
  border: 1px solid darken($button-background-color, 10);
  text-decoration: none;
  text-align: left;
  font:1em/normal sans-serif;
  text-color: $dark-grey;
  cursor: pointer;
  background-color: #fff;
  
  &.inline {
    display: inline-block;
  }
  
  &.small {
    margin: 5px 0 5px 5px;
  }
  
  &:active,
  &.active {
    background-color: $button-active-color;
  }
  
  // Round button
  &.round {
    border-radius: 5px;
  }

  // Pill button
  &.pill {
    border-radius: 50em;
  }
}



