@import "../../../../stylesheets/abstracts/_variables";

#header {
  background-color: $primary-dark-color;
  min-height: 200px;

  #menu {
    button {
      color: $white;
    }
  }
  
  #header-meta-container {
    #metadata {
      position: relative;
      margin-left: 150px;
      width: 50%;
      .avatar {
        position: absolute;
        width: 100px;
        height: 100px;
      }

      .name {
        position: absolute;
        font-size: $text-size-xl;
        left: 120px;
        top: 10px;
      }

      .catchline {
        position: absolute;
        font-size: $text-size-md;
        font-style: italic;
        left: 150px;
        top: 50px;
      }
    }
  }
  
}

