@import "../../../../stylesheets/abstracts/_variables";
@import "../../../../stylesheets/abstracts/_media";

#header {
  background-color: $primary-dark-color;

  #menu {
    button {
      color: $white;
    }
  }

  #header-meta-container {
    #metadata {
      position: relative;
    }
    .catchline {
      color: $light-grey;
    }
  }

}

@media #{$handheld} {
  #header {
    height: 48px;
    #metadata {
      margin: -48px 0 0 48px;
      height: 48px;
      .avatar {
        position: absolute;
        right: 4px;
        top: 4px;
        width: 40px;
        height: 40px;
      }
      .name {
        position: absolute;
        font-size: $text-size-md;
        left: 10px;
        bottom: 13px;
      }
      .catchline {
        position: absolute;
        font-size: $text-size-sm;
        font-style: italic;
        text-align: right ;
        left: 120px;
        right: 48px;
        bottom: 13px;
        @media (max-width: 512px) {
          visibility: hidden;
        }
      }
    }
  }
}

@media #{$computer} {
  #header {
    min-height: 200px;

    #metadata {
      margin-left: 150px;
      width: 50%;
      .avatar {
        position: absolute;
        width: 100px;
        height: 100px;
      }
      .name {
        position: absolute;
        font-size: $text-size-xl;
        left: 120px;
        top: 10px;
      }
      .catchline {
        position: absolute;
        font-size: $text-size-md;
        font-style: italic;
        left: 150px;
        top: 50px;
      }
    }
  }

}