@import "../../../theme/abstracts/media";

.container {
  width: 100%;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.video {
  width: 560px;
  height: 350px;
}

@media #{$handheld} {
  .video {
    width: 100%;
    height: calc(10 / 16 * 100vw);
  }
}
