@import "../../stylesheets/abstracts/_media";
.bottom-menu-container {
  position: relative;
}
.contact-button-container {
  position: absolute;
  
  @media #{$handheld} {
    right: 28px;
    bottom: -28px;  
  }

  @media #{$computer-big} {
    right: 172px;
    bottom: 28px;
  }

  @media #{$computer-small} {
    right: 22px;
    bottom: 28px;
  }
  
}